/* Navigation Bar Style */
.navbar {
  background-color: #7d1517;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 5em;
}

.nav-list li a:hover {
  color: #f6fa7a;
  background-color: #44556f;
  border-radius: 30px;
  padding: 8px;
  overflow: hidden;
  position: relative;
  font-size: 26px;
  font-weight: 700;
}

/* Content Style */

h1 {
  text-align: center;
  margin: 25px;
  font-family: 'Kanit', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: chocolate;
  text-decoration: underline dashed;
}

section {
  margin: 15px;
  font-family: 'Kanit';
  font-size: 20px;
}

section h2 {
  text-decoration: underline;
  margin: 10px 0px;
}

#pers_info a{
  color:rgb(177, 62, 49);
  text-decoration: none;
}

#education ol li {
  display: inline;
}

footer {
  margin-top: 11em;
  text-align: center;
  background-color: #7d1517;
  color: #fff;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: #f6fa7a;
}